*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    background-color: #2490e8;
    overflow-x: hidden;
    font-family: 'Poppins';
}

/*  BARRA DE NAVEGAÇÃO */

header{
    background-color: white;
    width: 100vw;
    height: 65px;
    display: flex;
    align-items: center;
}

nav ul {
    display: flex;
    justify-content: space-between;
    margin: 0;
    align-items: center;
    width: 100vw;
}

nav ul li{
    list-style: none;
    font-size: 1.5rem;
}

ul a {
    background-color: #2490e8;
    padding: 0.5rem;
    border-radius: 1rem;
    color: white;
    width: 80%;
    height: auto;
    display: flex;    
    text-decoration: none !important;
    font-size: 12px;
}

ul a:hover{
    color: white;
}

.btn-secondary{
    background-color: #2490e8 !important; 
    border: none;
    border-radius: 1rem;
}

.logomoo{
    width: 15%;
    height: auto;

}

.logomoo img{
    width: 100%;
    height: auto;
}

.links{
    display: flex;
    gap: 1.5rem;
    width: 330px;
    height: 100%;
}

.sobre-link{
    width: 50%;
    height: 100%;
}

.dropdown{
    width: 50%;
    height: auto;
}

.btn-secondary{
    height: 100%;
}



/* CARROSSEL */

.carousel-inner{
    height: 85vh;
}


/* DIV COM IMAGEM DA MOOMILK */
.imagem-capa{
    width: 100vw;
    height: 80vh;
    background-color: red;
}

.imagem-capa img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.capamoomilk{
    background-color: white;
    display: flex;
    justify-content: center;
}


.imagemmilk img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.imagemmilk{
    width: 80%;
    height: 90%;
    padding: 3rem;
    margin: 0 auto;
}

.show{
    display: block;
}


/* MEDIA QUERY*/

@media only screen and (max-width: 768px) {
    /* .carousel-inner{
        height: auto;
    }
    body{
        width: 100vw;
        overflow-x: hidden;
    }
    header{
        width: 100vw;
        display: block;
        display: flex;
    }
    nav ul li{
        font-size: 0.6rem;
    }
    .logomoo{
        width: 30%;
    }
    nav{
        display: flex;
        align-items: center;
    }
    ul a{
        width: 20%;
        height: 2vh;
    } */
    ul a {
        width: 100%;
    }
    .links{
        width: 60%;
    }
    .logomoo{
        width: 30%;
    }
    nav ul{
        gap: 2rem;
    }

}











