*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    font-family: 'Poppins';
    overflow-x: hidden;
    height: 85rem;
}

/* CABEÇALHO COM MEU PERFIL E SINO DE NOTIF*/

.opcoes{
    width: 100vw;
    height: 15vh;
    background-color: #2490e8;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 5rem;
    gap: 3rem;
}

.foto-perfil{
    width: 11%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: white;
    border-radius: 2rem;
    transition: 0.3s transform ease-in-out;
}

.foto-perfil img{
    width: 15%;
    height: 100%;
    object-fit: contain;
}

.foto-perfil span{
    font-size: 1.5rem;
}

.foto-perfil:hover{
    transform: scale(1.05);
    cursor: pointer;
    box-shadow: 2px 2px 15px 3px rgb(209, 208, 208);
}

.sino-notif{
    font-size: 2rem;
}

.sino-notif:hover{
    cursor: pointer;
}

.msg-notif{
    width: 20rem;
    height: 20rem;
    background-color: white;
    position: absolute;
    top: 6.5rem;
    border-radius: 2rem;
    border-top-right-radius: -30rem;
    border-width: 0 0 50px 50px;
    border: 3px #2490e8 solid;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.msg-notif::before {
    content: '';
    position: absolute;
    top: -1.8rem;
    right: 1rem;
    width: 20px; /* Ajuste conforme necessário para a largura do relevo */
    height: 20px; /* Ajuste conforme necessário para a altura do relevo */
    background-color: white;
    border-top-left-radius: 2rem;
    border: 3px #2490e8 solid;
    border-bottom: 0;
    transform: rotateZ(15deg);
  }

  .msg-notif-1{
    width: 100%;
    height: 30%;
    background-color: white;
    border-radius: 2rem;
  }

  .msg-notif-2, .msg-notif-3, .msg-notif-4{
    display: flex;
    flex-direction: column;
    border-top: 0.2px solid black;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }


/* FILTRO */
#section-filtro{
    background-color: #2490e8;
    width: 28vw;
    height: 85vh;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-filtro{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 95%;
}

.icon-text{
    width: 100%;
    height: 10%;
    font-size: 2rem;
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.lista-itens{
    width: auto;
    height: 60%;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
}

.opcoes-lista{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.opcoes-lista button{
    width: 80%;
    border: 1px solid white;
    border-radius: 1rem;
    font-family: 'Poppins';
}

.opcoes-lista button:focus{
    cursor: pointer;
    opacity: 80%;
}


.list-item{
    width: 100%;
}

.div-filtro span{
    font-size: 2rem;
}




/* LUPA DE BUSCA*/
.busca-vagas{
    /* width: 60vw; */
    height: 10vh;
    background-color: #2490e8;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 2rem;
}

.busca-vagas span{
    font-size: 2.5rem;
    color: white;
    font-weight: 700;
}

.lupa-busca{
    width: 100%;
    height: 100%;
    background-color: blueviolet;
}

.barra-pesquisa{
    height: 100%;
    width: 70%;
}

.btn-busca{
    height: 100%;
    width: 15%;
}


/* DISPLAY DE VAGAS */

.lado-direito{
    width: 75vw;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: #2490e8;
    border-radius: 2rem;
    align-items: center;
}

#resultado-vagas{
    width: 90%;
    height: 100%;
}


.vagas{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    height: auto;
    justify-content: center;
}

.itens-vagas{
   width: 30%;
   height: 20%;
   display: flex;
   flex-direction: column;
   font-size: 1.5rem;
   background-color: rgb(224, 221, 221);
   border-radius: 1rem;
   box-shadow: 2px 2px 10px 1px rgb(134, 134, 134);
   padding: 1rem;
}

.itens-vagas button{
    width: 50%;
    font-family: 'Poppins';
    margin-top: auto;
}

.itens-vagas p{
    font-weight: bold;
}

.itens-vagas span{
    font-style: italic;
}



.showallbtn{
    font-family: 'Poppins';
    width: 15rem;
    border-radius: 0.5rem;
    border-color: white;

}



.detalhes-vaga{
    width: 50vw;
    height: 35rem;
    background-color: rgb(218, 218, 218);
    position: absolute;
    top: 15rem;
    border-radius: 2rem;
    box-shadow: 1px 1px 10px 10px rgb(133, 133, 133);
    display: flex;
}

.vaga-content{
    width: 90%;
    height: 90%;
    margin: auto;
}

.vaga-content p{
    font-size: 1.5rem;
}

.vaga-content >p:nth-child(1){
    font-weight: bold;
}

.descricao ul{
    width: 50%;
    font-size: 1.5rem;
    padding-left: 3rem;
}

.enviar-curric{
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
}

.enviar-curric button{
    width: 30%;
    margin: 0 auto;
    font-family: 'Poppins';
    margin-top: 2rem;
    padding: 0.5rem;
    border-radius: 1rem;
    border: none;
    box-shadow: 1px 1px 5px 5px rgb(179, 179, 179);
}

.hidden{
    display: none;
}

.btnFechar{
    border: none;
}

.btnFechar:hover{
    cursor: pointer;
}

/* começo */
.main-cont{
    display: flex;
    gap: 2rem;
    padding: 2rem;
}


.hidden{
    display: none;
}

.opcao-voltar{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background-color: #2490e8;
    width: 6%;
    color: white;
    border-radius: 1rem;
    justify-content: center;
    padding: 0.2rem;
}

.opcao-voltar i{
    background-color: white;
    color: #2490e8;
    border-radius: 1rem;
    padding: 0.3rem;
}

.opcao-voltar:hover{
    cursor: pointer;
}

.cont-perfil--2{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    font-size: 2rem;
}

.cont-perfil{
    padding-left: 3rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.opcao-candidaturas:hover, .opcao-curriculo:hover{
    cursor: pointer;
}

.candidaturas-desc{
    width: 80vw;
    height: 50rem;
    background-color: rgb(235, 233, 233);
    border-radius: 1.5rem;
    box-shadow: 0 0 10px 1px rgb(158, 158, 158);
    display: flex;
    flex-direction: column;
}

.cont-perfil--3{
    display: flex;
    gap: 4rem;
}

.cont-cand-desc{
    width: 95%;
    height: 85%;
    margin: auto;
    border: 2px solid rgb(180, 180, 180);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    padding: 2rem;
    font-size: 1.7rem;
}

.progress-bar{
    width: 35%;
    height: 2.5rem;
    background-color: rgb(149, 149, 149);
    border-radius: 2rem;
    display: flex;
    align-items: center;
    margin-top: 1.5rem;
}

.progress-bar--1{
    width: 75%;
    height: 70%;
    background-color: #2490e8;
    border-radius: 2rem;
    margin-left: 0.5rem;
}

.cand-text--1{
    display: flex;
    flex-direction: column;
}

.progress-bar--2{
    width: 25%;
    height: 70%;
    background-color: #2490e8;
    border-radius: 2rem;
    margin-left: 0.5rem;
}

.cand-text--2{
    display: flex;
    flex-direction: column;
}

.cand--1{
    border-bottom: 2px solid grey;
}

.hidden{
    display: none;
}

.curriculo-desc{
    width: 80vw;
    height: 80rem;
    background-color:  rgb(235, 233, 233);
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cont-curric{
    width: 95%;
    height: 90%;
    background-color: white;
    padding: 2rem;
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.imagem-curric{
    width: 25%;
    height: 100%;
}

.imagem-curric img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.fotocurric-text{
    display: flex;
    width: 100%;
    height: 20%;
}

.text-imagemcurric{
    display: flex;
    flex-direction: column;
}

.inputs--curriculo{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.cont--inputstextocurriculo{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.inputs--curriculo input{
    height: 3rem;
    border-radius: 1rem;
    border: 0.5px solid grey;
}

.inputs--curriculo textarea{
    border-radius: 1rem;
    border: 0.5px solid grey;
}

.cont-curric button{
    font-family: 'Poppins';
    width: 30%;
    margin: auto;
    height: 3rem;
    font-weight: bold;
}

.hidden{
    display: none;
}

.opcao-selecionada{
    border-bottom: 2px solid #3498db;
}












